certifi==2025.10.5
charset-normalizer==3.4.4
contourpy==1.3.3
cycler==0.12.1
fonttools==4.60.1
gitdb==4.0.12
GitPython==3.1.45
idna==3.11
kiwisolver==1.4.9
Levenshtein==0.27.1
lizard==1.18.0
matplotlib==3.10.6
networkx==3.4.2
numpy==2.3.4
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
patsy==1.0.2
pillow==12.0.0
PyDriller==2.9
Pygments==2.19.2
pyjarowinkler==2.1.1
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
RapidFuzz==3.14.1
requests==2.32.5
scipy==1.15.3
six==1.17.0
smmap==5.0.2
statsmodels==0.14.5
tenetan==0.9.0
tensorly==0.8.1
TLViz==0.1.1
types-pytz==2025.2.0.20250809
tzdata==2025.2
urllib3==2.5.0
xarray==2025.10.1
